#navigation_list
{padding: 10px;}

#navigation_list li
{display: block; padding: 10px; border: 1px solid #ccc; background: #eee; border-bottom: 0;}

#navigation_list li:last-child
{border-bottom: 1px solid #ccc;}

#navigation_list li ul
{margin-top: 10px; border: 1px solid #fff;}