/**
 * Reset
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/**
 * Basic
 */
body
{font: 62.5% "Lucida Grande", Verdana, Arial, sans-serif; background: #edf3f6 url(images/bg.png) top center no-repeat;}

h1 a
{display: block; height: 80px; width: 200px; background: url(images/logo_web.png); text-indent: -10000px; float: left;}

h2
{font-size: 2.2em; font-family: Georgia; font-weight: normal; color: #023d63; border-bottom: 1px solid #ccc; padding: 5px 5px 10px 5px;}

p
{font-size: 1.2em; line-height: 1.5; padding-top: 10px;}

a
{text-decoration: none; color: #0262a0;}

a:hover
{text-decoration: underline; color: #023d63;}

/**
 * Layout
 */
#header
{height: 80px; background: #fff;}

#header > div
{width: 960px; height: 80px; margin: auto; position: relative;} 

#wrapper
{background: url(images/wrapper_bg.png) top left repeat-x; padding-top: 40px;}

#content
{width: 958px; padding: 10px; margin: auto; background: #fff; border: 1px solid #003260;}

#content.small
{width: 400px;}

#footer
{padding: 10px 10px 0 10px; color: #fff; text-shadow: 1px 1px 2px #444; font-size: 1.1em; text-align: center;}

/**
 * Navigation
 */
#navigation
{width: 760px; float: left;}

#navigation ul li
{height: 80px; line-height: 80px; display: inline;}

#navigation ul li a
{font-size: 1.6em; font-family: Helvetica; font-weight: bold; padding: 5px 20px; border-right: 1px solid #ccc;}

#navigation ul li:last-child a
{border: 0;}

#navigation ul .active a
{color: #2c98e7;}

/**
 * Login form
 */
#login_form
{padding: 10px;}

#login_form label
{display: block; font-size: 1.4em; padding: 5px;}

#login_form input
{width: 338px; border: 0; border: 1px solid; border-top-color: #ccc; border-left-color: #999; border-right-color: #999; border-bottom-color: #888; font-size: 1.2em; padding: 10px;}

#login_form input:focus
{border-color: #5a88af; background: #e6f0fc;}

#login_form button
{display: block; margin: 5px;}

/**
 * Classes
 */
.clear
{clear: both;}