/**
 * Reset
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/**
 * Basics
 */
body
{font: 62.5% "Lucida Grande", Verdana, Arial, sans-serif; background: #ddd;}

h1
{display: block; height: 50px; line-height: 50px; font-size: 1.4em;}

h1 a
{padding: 8px; background: red; font-size: 0.7em; background: #eee; border: 1px solid #ccc;}

h2
{font-size: 1.4em; padding: 10px; border-bottom: 1px solid #eee;}

p
{padding: 10px;}

a
{color: #666;}

a:hover
{color: #999;}

/**
 * Layout
 */
#header
{height: 50px; background: #fff; padding: 0 10px;}

#main
{width: 1000px;}

#sidebar
{width: 180px; background: #fff; margin: 10px; float: left;}

#sidebar ul li a
{display: block; padding: 5px;}

#sidebar ul li.active a
{background: #eee;}

#sidebar ul li.active > a
{font-weight: bold;}

#sidebar > ul > li > a
{border-top: 1px solid #ccc; font-size: 1.1em;}

#sidebar ul li > ul li a
{padding: 0 5px 5px 25px;}

#sidebar > ul > li:first-child > a
{border: 0;}

#content
{width: 800px; background: #fff; margin: 10px 0 10px 0; float: left;}

/**
 * List
 */
.list
{width: 100%;}

.list tbody tr td, .list thead tr th
{padding: 10px; border: 1px solid #999; border-right-color: #eee;}

.list tbody tr td:last-child, .list thead tr th:last-child
{border-right-color: #999;}

.list thead tr th
{background: #eee; border-right-color: #ccc;}

/**
 * Form
 */
.form
{padding: 10px;}

.form label, .form input
{padding: 4px; font-size: 1.1em;}

.form label
{font-weight: bold;}

.form input
{margin-right: 10px;}

.form.vertical label
{display: block;}

/**
 * Classes
 */
.discrete
{color: #777;}